<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
    "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <!-- Configuration for skins -->
  <context-param>
    <param-name>com.aoindustries.website.SkinAction.Default</param-name>
    <param-value>com.aoindustries.website.TextSkin</param-value>
  </context-param>
  <context-param>
    <param-name>com.aoindustries.website.SkinAction.Text</param-name>
    <param-value>com.aoindustries.website.TextSkin</param-value>
  </context-param>

  <!-- Filter to make HTTPS sessions be carried over to HTTP -->
  <filter>
    <filter-name>SessionSharingFilter</filter-name>
    <filter-class>com.aoindustries.website.SessionSharingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionSharingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Action Servlet Configuration -->
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/clientarea/control</param-name>
      <param-value>/WEB-INF/struts-config-clientarea-control.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  
  <!-- Action Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
  </welcome-file-list>

  <!-- AOWeb Struts Tags -->
  <taglib>
    <taglib-uri>/WEB-INF/aoweb-struts-skin.tld</taglib-uri>
    <taglib-location>/WEB-INF/aoweb-struts-skin.tld</taglib-location>
  </taglib>

  <!-- Struts Tag Library Descriptors -->
  <taglib>
    <taglib-uri>http://struts.apache.org/tags-bean</taglib-uri>
    <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>http://struts.apache.org/tags-html</taglib-uri>
    <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>http://struts.apache.org/tags-logic</taglib-uri>
    <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>http://struts.apache.org/tags-tiles</taglib-uri>
    <taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>http://struts.apache.org/tags-nested</taglib-uri>
    <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
  </taglib>
</web-app>
