[submodule "core"]
	path = core
	url = git@github.com:aoindustries/aoweb-struts-core.git
	branch = .
[submodule "resources"]
	path = resources
	url = git@github.com:aoindustries/aoweb-struts-resources.git
	branch = .
[submodule "webapp"]
	path = webapp
	url = git@github.com:aoindustries/aoweb-struts-webapp.git
	branch = .
