[submodule "aoweb-struts-resources"]
	path = aoweb-struts-resources
	url = git@github.com:aoindustries/aoweb-struts-resources.git
[submodule "aoweb-struts-webapp"]
	path = aoweb-struts-webapp
	url = git@github.com:aoindustries/aoweb-struts-webapp.git
[submodule "aoweb-struts-api"]
	path = aoweb-struts-api
	url = git@github.com:aoindustries/aoweb-struts-api.git
[submodule "aoweb-struts-core"]
	path = aoweb-struts-core
	url = git@github.com:aoindustries/aoweb-struts-core.git
[submodule "core"]
	path = core
	url = git@github.com:aoindustries/aoweb-struts-core.git
[submodule "resources"]
	path = resources
	url = git@github.com:aoindustries/aoweb-struts-resources.git
[submodule "webapp"]
	path = webapp
	url = git@github.com:aoindustries/aoweb-struts-webapp.git
