img {
    border-style: none;
}
td {
    padding:0px;
}
th {
  /*background-color: #e0e0e0;*/
}
.aoWhiteRow {
  background-color: #ffffff;
}
.aoLightRow {
  background-color: #f8f8f8;
}
.aoDarkRow {
  background-color: #e0e0e0;
}
.aoDarkLink {
}
.aoLightLink {
}
.aoPopupLightRow {
  background-color: #fff9ad;
}
.aoPopupDarkRow {
  background-color: #f5efa6;
}
.error {
  color: red;
}
