TH {
  background-color: #e0e0e0;
}
.ao_button {
}
.ao_light_row {
  background-color: #f8f8f8;
}
.ao_dark_row {
  background-color: #e0e0e0;
}
.ao_dark_link {
}
.ao_light_link {
}
.ao_popup {
  background-color: #ffffff;
  border: 2px solid;
  border-color: black;
}
.error {
  color: red;
}
